
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }

@font-face {
    font-family: nougat;
    src: url("../fonts/nougat.ttf");
}

@font-face {
    font-family: title;
    src: url("../fonts/title.ttf");
}

@font-face {
	font-family: lemon;
	src: url("../fonts/lemon.otf");
}

@font-face {
	font-family: vita;
	src: url("../fonts/vita.ttf");
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

html {
	  -webkit-font-smoothing: subpixel-antialiased !important;
}

body {
	background: #2f3238;
	color: #fff;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
	  -webkit-font-smoothing: subpixel-antialiased !important;
}

a {
	outline: none;
	color: #3498db;
	text-decoration: none;
}

a:hover, a:focus {
	color: #528cb3;
}

section {
	padding: 1em;
	text-align: center;
}

.content {
	margin: 0 auto;
	max-width: 1000px;
}

.content > h2 {
	clear: both;
	margin: 0;
	padding: 4em 1% 0;
	color: #484B54;
	font-weight: 800;
	font-size: 1.5em;
}

.content > h2:first-child {
	padding-top: 0em;
}

/* Header */
.codrops-header {
	margin: 0 auto;
	padding: 2em 1em;
	text-align: center;
}

.codrops-header h1 {
	margin: 0;
	font-size: 4em;
	font-family: nougat;
}

.icon {
	font-size: 50px;
	color: white;
}

/*#in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}*/

.genre-effect-lexi {
  width: 450px;
  height: 350px;
  display: inline-table;
}

.wrapper {
  width: 100%;
  margin: 10px auto;
  position: relative;
  text-align:center;
}

#foodie-detail {
  text-align: center;
  display:inline-block;
  float: left;
  margin-left: 12%;
}

#moviechoice {
	display: ;
}

#munch {
  display: inline-flex;
}

#watch {
  display: inline-flex;
}

.movie-detail {
	text-align: center;
  font-size: 10px;
  display:inline-block;
}

.movie-detail h1 {
	font-size: 2em;
	font-family: title;
}

.movie-detail img {
	max-width: 300px;
	height: auto;
	vertical-align: bottom;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.movie-detail p {
	max-width: 18%;
	display: inline-block;
	font-size: 1.32em;
	margin-left: 20px;
	color: black
	border-radius: 5px;
	box-sizing: border-box;
}

#boner {
  margin:0;
  padding:0;
  text-align:center;
}

#left{
	margin-right: 5px;
}

#right {
	margin-left: 5px;
}

#result {
	max-width: 25%;
}

.green {
	color: green;
}

.red {
	color: tomato;
}

.khaki {
	color: khaki;
}

.black {
	color: #1e1e1e;
}

#grub {
	font-color: aqua;
}

#watch {
	font-color: ;
}

@media screen and (max-width: 25em) {
	.codrops-header {
		font-size: 75%;
	}
	.codrops-icon span {
		display: none;
	}
}
